# Project 2 - Pandas CSV reader and basic analysis

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [ ]:
df = pd.read_csv('data.csv')
df.head()

,Patient_Number,Blood_Pressure_Abnormality,Level_of_Hemoglobin,Genetic_Pedigree_Coefficient,Age,BMI,Sex,Pregnancy,Smoking,Physical_activity,salt_content_in_the_diet,alcohol_consumption_per_day,Level_of_Stress,Chronic_kidney_disease,Adrenal_and_thyroid_disorders
0,1,1,11.28,0.90,34,23,1,1.0,0,45961,48071,NaN,2,1,1
1,2,0,9.75,0.23,54,33,1,NaN,0,26106,25333,205.0,3,0,0
2,3,1,10.79,0.91,70,49,0,NaN,0,9995,29465,67.0,2,1,0
3,4,0,11.00,0.43,71,50,0,NaN,0,10635,7439,242.0,1,1,0
4,5,1,14.17,0.83,52,19,0,NaN,0,15619,49644,397.0,2,0,0

In [ ]:
df.head(10) #print first 10 columns

,Patient_Number,Blood_Pressure_Abnormality,Level_of_Hemoglobin,Genetic_Pedigree_Coefficient,Age,BMI,Sex,Pregnancy,Smoking,Physical_activity,salt_content_in_the_diet,alcohol_consumption_per_day,Level_of_Stress,Chronic_kidney_disease,Adrenal_and_thyroid_disorders
0,1,1,11.28,0.90,34,23,1,1.0,0,45961,48071,NaN,2,1,1
1,2,0,9.75,0.23,54,33,1,NaN,0,26106,25333,205.0,3,0,0
2,3,1,10.79,0.91,70,49,0,NaN,0,9995,29465,67.0,2,1,0
3,4,0,11.00,0.43,71,50,0,NaN,0,10635,7439,242.0,1,1,0
4,5,1,14.17,0.83,52,19,0,NaN,0,15619,49644,397.0,2,0,0
5,6,0,11.64,0.54,23,48,0,NaN,1,27042,7513,NaN,3,0,0
6,7,1,11.69,0.75,43,41,1,1.0,0,38369,32967,206.0,3,1,1
7,8,0,12.70,0.41,48,20,0,NaN,0,29781,26749,134.0,2,0,0
8,9,0,10.88,0.68,72,44,0,NaN,0,814,9607,99.0,3,0,0
9,10,1,14.56,0.61,40,44,0,NaN,0,1278,12715,95.0,2,0,0

In [ ]:
df.tail(10) #Print last 10 columns

,Patient_Number,Blood_Pressure_Abnormality,Level_of_Hemoglobin,Genetic_Pedigree_Coefficient,Age,BMI,Sex,Pregnancy,Smoking,Physical_activity,salt_content_in_the_diet,alcohol_consumption_per_day,Level_of_Stress,Chronic_kidney_disease,Adrenal_and_thyroid_disorders
1990,1991,1,11.21,0.01,63,25,0,NaN,1,32903,4540,50.0,3,0,0
1991,1992,1,15.53,0.12,22,24,0,NaN,0,48325,16514,NaN,2,1,1
1992,1993,1,9.38,0.49,60,39,1,NaN,1,46591,29557,125.0,1,1,1
1993,1994,0,9.69,1.00,73,42,1,NaN,1,43344,36230,48.0,3,0,1
1994,1995,0,11.07,0.66,58,31,1,NaN,0,38603,22836,379.0,2,0,0
1995,1996,1,10.14,0.02,69,26,1,NaN,1,26118,47568,144.0,3,1,0
1996,1997,1,11.77,1.00,24,45,1,1.0,1,2572,8063,NaN,3,1,1
1997,1998,1,16.91,0.22,18,42,0,NaN,0,14933,24753,NaN,2,1,1
1998,1999,0,11.15,0.72,46,45,1,NaN,1,18157,15275,253.0,3,0,1
1999,2000,1,11.36,0.09,41,45,0,NaN,0,20729,30463,230.0,1,1,0

In [ ]:
df.dtypes  #types in dataset

Patient_Number                     int64
Blood_Pressure_Abnormality         int64
Level_of_Hemoglobin              float64
Genetic_Pedigree_Coefficient     float64
Age                                int64
BMI                                int64
Sex                                int64
Pregnancy                        float64
Smoking                            int64
Physical_activity                  int64
salt_content_in_the_diet           int64
alcohol_consumption_per_day      float64
Level_of_Stress                    int64
Chronic_kidney_disease             int64
Adrenal_and_thyroid_disorders      int64
dtype: object

In [ ]:
df.info() #

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 15 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Patient_Number                 2000 non-null   int64
 1   Blood_Pressure_Abnormality     2000 non-null   int64
 2   Level_of_Hemoglobin            2000 non-null   float64
 3   Genetic_Pedigree_Coefficient   1908 non-null   float64
 4   Age                            2000 non-null   int64
 5   BMI                            2000 non-null   int64
 6   Sex                            2000 non-null   int64
 7   Pregnancy                      442 non-null    float64
 8   Smoking                        2000 non-null   int64
 9   Physical_activity              2000 non-null   int64
 10  salt_content_in_the_diet       2000 non-null   int64
 11  alcohol_consumption_per_day    1758 non-null   float64
 12  Level_of_Stress                2000 non-null   int64
 13  Chronic_kidney_disease         2000 non-null   int64
 14  Adrenal_and_thyroid_disorders  2000 non-null   int64
dtypes: float64(4), int64(11)
memory usage: 234.5 KB

In [ ]:
# Statistical Values
df.describe()

,Patient_Number,Blood_Pressure_Abnormality,Level_of_Hemoglobin,Genetic_Pedigree_Coefficient,Age,BMI,Sex,Pregnancy,Smoking,Physical_activity,salt_content_in_the_diet,alcohol_consumption_per_day,Level_of_Stress,Chronic_kidney_disease,Adrenal_and_thyroid_disorders
count,2000.000000,2000.000000,2000.000000,1908.000000,2000.000000,2000.000000,2000.000000,442.000000,2000.000000,2000.000000,2000.000000,1758.000000,2000.000000,2000.0000,2000.000000
mean,1000.500000,0.493500,11.710035,0.494817,46.558500,30.081500,0.496000,0.450226,0.509500,25254.424500,24926.097000,251.008532,2.012500,0.5050,0.443500
std,577.494589,0.500083,2.186701,0.291736,17.107832,11.761208,0.500109,0.498080,0.500035,14015.439623,14211.692586,143.651884,0.823822,0.5001,0.496922
min,1.000000,0.000000,8.100000,0.000000,18.000000,10.000000,0.000000,0.000000,0.000000,628.000000,22.000000,0.000000,1.000000,0.0000,0.000000
25%,500.750000,0.000000,10.147500,0.240000,32.000000,20.000000,0.000000,0.000000,0.000000,13605.750000,13151.750000,126.250000,1.000000,0.0000,0.000000
50%,1000.500000,0.000000,11.330000,0.490000,46.000000,30.000000,0.000000,0.000000,1.000000,25353.000000,25046.500000,250.000000,2.000000,1.0000,0.000000
75%,1500.250000,1.000000,12.945000,0.740000,62.000000,40.000000,1.000000,1.000000,1.000000,37382.250000,36839.750000,377.750000,3.000000,1.0000,1.000000
max,2000.000000,1.000000,17.560000,1.000000,75.000000,50.000000,1.000000,1.000000,1.000000,49980.000000,49976.000000,499.000000,3.000000,1.0000,1.000000

In [ ]:
# Median
df.median()

Patient_Number                    1000.50
Blood_Pressure_Abnormality           0.00
Level_of_Hemoglobin                 11.33
Genetic_Pedigree_Coefficient         0.49
Age                                 46.00
BMI                                 30.00
Sex                                  0.00
Pregnancy                            0.00
Smoking                              1.00
Physical_activity                25353.00
salt_content_in_the_diet         25046.50
alcohol_consumption_per_day        250.00
Level_of_Stress                      2.00
Chronic_kidney_disease               1.00
Adrenal_and_thyroid_disorders        0.00
dtype: float64

In [ ]:
df.columns

Index(['Patient_Number', 'Blood_Pressure_Abnormality', 'Level_of_Hemoglobin',
       'Genetic_Pedigree_Coefficient', 'Age', 'BMI', 'Sex', 'Pregnancy',
       'Smoking', 'Physical_activity', 'salt_content_in_the_diet',
       'alcohol_consumption_per_day', 'Level_of_Stress',
       'Chronic_kidney_disease', 'Adrenal_and_thyroid_disorders'],
      dtype='object')

In [ ]:
df['Blood_Pressure_Abnormality'].unique()

array([1, 0])

In [ ]:
df['BMI'].unique()

array([23, 33, 49, 50, 19, 48, 41, 20, 44, 28, 17, 40, 32, 27, 30, 38, 34,
       11, 26, 46, 31, 16, 47, 12, 18, 21, 15, 22, 45, 13, 25, 43, 37, 35,
       36, 42, 14, 10, 29, 24, 39])

In [ ]:
#filter rows and select colums/ slice rows
df[df['BMI'] > 30].head(10)

,Patient_Number,Blood_Pressure_Abnormality,Level_of_Hemoglobin,Genetic_Pedigree_Coefficient,Age,BMI,Sex,Pregnancy,Smoking,Physical_activity,salt_content_in_the_diet,alcohol_consumption_per_day,Level_of_Stress,Chronic_kidney_disease,Adrenal_and_thyroid_disorders
1,2,0,9.75,0.23,54,33,1,NaN,0,26106,25333,205.0,3,0,0
2,3,1,10.79,0.91,70,49,0,NaN,0,9995,29465,67.0,2,1,0
3,4,0,11.00,0.43,71,50,0,NaN,0,10635,7439,242.0,1,1,0
5,6,0,11.64,0.54,23,48,0,NaN,1,27042,7513,NaN,3,0,0
6,7,1,11.69,0.75,43,41,1,1.0,0,38369,32967,206.0,3,1,1
8,9,0,10.88,0.68,72,44,0,NaN,0,814,9607,99.0,3,0,0
9,10,1,14.56,0.61,40,44,0,NaN,0,1278,12715,95.0,2,0,0
12,13,1,16.40,0.45,31,50,0,NaN,1,25639,46997,41.0,3,0,1
13,14,0,16.42,0.13,75,40,0,NaN,1,11750,49800,308.0,3,0,1
14,15,0,11.97,0.76,18,32,0,NaN,0,14562,18007,NaN,2,1,1

In [ ]:
df[df['BMI'] > 30].tail(10)

,Patient_Number,Blood_Pressure_Abnormality,Level_of_Hemoglobin,Genetic_Pedigree_Coefficient,Age,BMI,Sex,Pregnancy,Smoking,Physical_activity,salt_content_in_the_diet,alcohol_consumption_per_day,Level_of_Stress,Chronic_kidney_disease,Adrenal_and_thyroid_disorders
1986,1987,1,13.63,0.97,49,36,1,NaN,0,49302,24648,4.0,1,1,1
1987,1988,1,11.79,0.97,19,44,0,NaN,0,35633,27213,NaN,2,0,1
1988,1989,1,17.17,0.10,20,48,0,NaN,0,33663,47458,NaN,2,1,0
1992,1993,1,9.38,0.49,60,39,1,NaN,1,46591,29557,125.0,1,1,1
1993,1994,0,9.69,1.00,73,42,1,NaN,1,43344,36230,48.0,3,0,1
1994,1995,0,11.07,0.66,58,31,1,NaN,0,38603,22836,379.0,2,0,0
1996,1997,1,11.77,1.00,24,45,1,1.0,1,2572,8063,NaN,3,1,1
1997,1998,1,16.91,0.22,18,42,0,NaN,0,14933,24753,NaN,2,1,1
1998,1999,0,11.15,0.72,46,45,1,NaN,1,18157,15275,253.0,3,0,1
1999,2000,1,11.36,0.09,41,45,0,NaN,0,20729,30463,230.0,1,1,0

In [ ]:
# Slicing Subsets
df.iloc[0 : 10] # 1st 10 rows

,Patient_Number,Blood_Pressure_Abnormality,Level_of_Hemoglobin,Genetic_Pedigree_Coefficient,Age,BMI,Sex,Pregnancy,Smoking,Physical_activity,salt_content_in_the_diet,alcohol_consumption_per_day,Level_of_Stress,Chronic_kidney_disease,Adrenal_and_thyroid_disorders
0,1,1,11.28,0.90,34,23,1,1.0,0,45961,48071,NaN,2,1,1
1,2,0,9.75,0.23,54,33,1,NaN,0,26106,25333,205.0,3,0,0
2,3,1,10.79,0.91,70,49,0,NaN,0,9995,29465,67.0,2,1,0
3,4,0,11.00,0.43,71,50,0,NaN,0,10635,7439,242.0,1,1,0
4,5,1,14.17,0.83,52,19,0,NaN,0,15619,49644,397.0,2,0,0
5,6,0,11.64,0.54,23,48,0,NaN,1,27042,7513,NaN,3,0,0
6,7,1,11.69,0.75,43,41,1,1.0,0,38369,32967,206.0,3,1,1
7,8,0,12.70,0.41,48,20,0,NaN,0,29781,26749,134.0,2,0,0
8,9,0,10.88,0.68,72,44,0,NaN,0,814,9607,99.0,3,0,0
9,10,1,14.56,0.61,40,44,0,NaN,0,1278,12715,95.0,2,0,0

In [ ]:
df.loc[0 : 5, ['Physical_activity', 'BMI']]

   Physical_activity  BMI
0              45961   23
1              26106   33
2               9995   49
3              10635   50
4              15619   19
5              27042   48

**Insights**  data : More the physical activity lesser the BMI and vise-versa

In [ ]:
df.columns

Index(['Patient_Number', 'Blood_Pressure_Abnormality', 'Level_of_Hemoglobin',
       'Genetic_Pedigree_Coefficient', 'Age', 'BMI', 'Sex', 'Pregnancy',
       'Smoking', 'Physical_activity', 'salt_content_in_the_diet',
       'alcohol_consumption_per_day', 'Level_of_Stress',
       'Chronic_kidney_disease', 'Adrenal_and_thyroid_disorders'],
      dtype='object')

In [ ]:
df.loc[df['BMI'] > 30, ['Sex', 'alcohol_consumption_per_day']].head(9)

    Sex  alcohol_consumption_per_day
1     1                        205.0
2     0                         67.0
3     0                        242.0
5     0                          NaN
6     1                        206.0
8     0                         99.0
9     0                         95.0
12    0                         41.0
13    0                        308.0

In [ ]:
df.loc[0 : 50, ['Smoking', 'BMI']]

    Smoking  BMI
0         0   23
1         0   33
2         0   49
3         0   50
4         0   19
5         1   48
6         0   41
7         0   20
8         0   44
9         0   44
10        0   28
11        0   17
12        1   50
13        1   40
14        0   32
15        0   27
16        0   28
17        0   44
18        0   30
19        0   38
20        1   49
21        1   28
22        1   41
23        0   30
24        1   48
25        0   17
26        0   40
27        0   34
28        0   11
29        0   26
30        0   46
31        0   31
32        1   41
33        1   38
34        0   30
35        0   16
36        1   47
37        1   26
38        1   16
39        1   31
40        0   19
41        0   12
42        1   49
43        0   11
44        0   34
45        0   18
46        1   11
47        0   46
48        0   49
49        0   21
50        1   21

**Insights**  data : More the smoking , more is the BMI and vise-versa

In [ ]:
df.loc[0 : 5, ['Level_of_Stress', 'Chronic_kidney_disease']]

   Level_of_Stress  Chronic_kidney_disease
0                2                       1
1                3                       0
2                2                       1
3                1                       1
4                2                       0
5                3                       0